@import '../../scss/master.scss';
h3{
    // border-bottom: 1px solid $colorGreyLight;
    margin-right: 1.5em;
    text-transform: uppercase;
    width: auto;
    display: inline-block;
    span{
        background-color: $blackgreyDark;
        color: $white;
        padding:8px 15px;
        line-height: 30px;
        display: inline-block;
    }
}