@import '../../scss/master.scss';
.left_panel{
    .leftpanel_heading{
        background-color: $orangeDark;
        padding-top: 0.8em;
        padding-bottom: 0.3em;
        h3{
            font-size: $font16;
            color: $white;
            text-transform: capitalize;
            i{
                padding-right: 0.3em;
            }
        }
    }
    .leftpanelbody{
        border: 1px solid $colorGreyLightextra;
        // background-color: $colorAccent;
        ul{
            margin: 0;
            padding: 0;
            
            li{
                border-bottom: 1px solid $colorGreyLight;
                color: $colorGreyLight;
                list-style: none;
                padding: 0.41em 0.5em;
                a{
                    color: $colorGreyDark;
                    font-size: $font14;
                    // .left_img{
                    //     display: inline-block;
                    // }
                }
            }
            li:nth-last-child{
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .leftpanelbody{
        border: 1px solid $colorGreyLightextra;
        ul{
            li{
                border-bottom: 1px solid $colorGreyLight;
                border-right: 1px solid $colorGreyLight;
                width: 50%;
                display: inline-block;
                background-color: $colorAccent;
                
                a{
                    // color: $colorGreyDark;
                    font-size: $font16 !important;
                    color: $white !important;
                    
                }
            }
            li:nth-last-child{
                border: none;
            }
            li:nth-child(even){
                border-right: none;
            }
        }
    }
}