@import '../../scss/master.scss';
.panel_left{
    width: 100%;
    background-color: $orangeDark;
    padding: 1em;
    font-size: 1em;
    h3{
        color: $white;
        font-weight: 400;
        // font-size: 1.3em;
    }
    .filter_cont{
        border-bottom: 1px solid $coloryellowMedopa;
        padding-bottom: 0.8em;
        color: $white;
        margin-bottom: 1em;
        h5{
            text-transform: uppercases;
            font-size: $font16;
            color: $coloryellowMed;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                list-style-position: inside;
                font-weight: 200;
                font-size: $font14;
                
            }
        }
    }
}