<div class="row left_panel">
    <div class="col-12 leftpanel_heading">
        <h3><i class="fa fa-bars" aria-hidden="true"></i> All categories</h3>
    </div>
    <div class="col-12 p-0 px-md-2 leftpanelbody">
        <ul>
            <li *ngFor="let leftNav of leftNavs; let i=index">
                <a [routerLink]="[leftNav.leftnavlink]" routerLinkActive="router-link-active" >
                    <span class="d-inline-block d-md-none pe-2">
                        <i [class]='[leftNav.leftnavIcon]' aria-hidden="true"></i>
                        <!-- <img src="../../../assets/images/dailyprod1.png" width="35px"> -->
                    </span>
                    {{leftNav.Leftnavname}}
                </a>
            </li>
        </ul>
    </div>
</div>
