@import '../../scss/master.scss';
.banner_cont{
    .spec_offe{
        background-color: $colorbluelight;
        color: $colorBlueMed;
        text-align: center;
        text-transform: uppercase;
        padding: 0.65em 0;
    }
    
}
