
    <div class="row trendItemContent">
        <div class="col-12 col-md-3 my-3" *ngFor="let item of productListdata; let i=index">
            <div class="card">
                <div class="card_img">
                    <img [src]="item.prodimgUrl" width="100%" height="">
                </div>
                <div class="card_cont">
                    <div class="card_heading">
                      <h3>
                        {{item.prodimgName}}
                      </h3>
                    </div>
                    <div class="card_price_cont">
                        <div class="card_price">
                          <span>{{item.prodimgPrice | currency:"INR":"symbol"}}</span> 
                          {{item.prodimgDisPrice | currency:"INR":"symbol"}}
                        </div>
                        <div class="card_star">
                          {{item.prodimgRating}} <i class="fa fa-star" aria-hidden="true"></i> 
                        </div>
                        <div class="card_star_text">
                          {{item.prodimgRatingPerson}} Ratings
                        </div>
                    </div>
                    <div class="cart mt-2">
                      <button mat-raised-button color="accent" id="buy-now {{i}}" class="mr-3">Buy Now</button>
                      <button mat-raised-button color="primary" class="mr-3">Add Cart</button>
                    </div>
                </div>
                <div class="daily_off">{{((item.prodimgPrice - item.prodimgDisPrice)*100)/item.prodimgPrice | number: '1.0-0'}}%</div>
            </div>
        </div>
    </div>
