<div class="trenditem mt-3 d-none d-md-block">
    <h3>
        Daily Deals
    </h3>
    <ul>
        <li>
            <div class="trenImg">
                <img src="../../../assets/images/dailyprod3.png" width="100%" alt="image">
            </div>
            <div class="trenImagText">
                <h5>Prdient Laborum </h5>
                <div class="trendsPrice">
                    <i _ngcontent-qxx-c14="" aria-hidden="true" class="fa fa-inr"></i>135.00 ! INR
                </div>
                <div class="trenpriceText">
                    <span>4 <i _ngcontent-rsf-c14="" aria-hidden="true" class="fa fa-star"></i></span> 135 Ratings
                </div>
            </div>
        </li>
        <li>
            <div class="trenImg">
                <img src="../../../assets/images/dailyprod1.png" width="100%" alt="image">
            </div>
            <div class="trenImagText">
                <h5>Prdient Laborum </h5>
                <div class="trendsPrice">
                    <i _ngcontent-qxx-c14="" aria-hidden="true" class="fa fa-inr"></i>135.00
                </div>
                <div class="trenpriceText">
                    <span>4 <i _ngcontent-rsf-c14="" aria-hidden="true" class="fa fa-star"></i></span> 135 Ratings
                </div>
            </div>
        </li>
        <li>
            <div class="trenImg">
                <img src="../../../assets/images/dailyprod2.png" width="100%" alt="image">
            </div>
            <div class="trenImagText">
                <h5>Prdient Laborum </h5>
                <div class="trendsPrice">
                    <i _ngcontent-qxx-c14="" aria-hidden="true" class="fa fa-inr"></i>135.00
                </div>
                <div class="trenpriceText">
                    <span>4 <i _ngcontent-rsf-c14="" aria-hidden="true" class="fa fa-star"></i></span> 135 Ratings
                </div>
            </div>
        </li>
        <li>
            <div class="trenImg">
                <img src="../../../assets/images/dailyprod1.png" width="100%" alt="image">
            </div>
            <div class="trenImagText">
                <h5>Prdient Laborum </h5>
                <div class="trendsPrice">
                    <i _ngcontent-qxx-c14="" aria-hidden="true" class="fa fa-inr"></i>135.00
                </div>
                <div class="trenpriceText">
                    <span>4 <i _ngcontent-rsf-c14="" aria-hidden="true" class="fa fa-star"></i></span> 135 Ratings
                </div>
            </div>
        </li>
        <li>
            <div class="trenImg">
                <img src="../../../assets/images/dailyprod2.png" width="100%" alt="image">
            </div>
            <div class="trenImagText">
                <h5>Prdient Laborum </h5>
                <div class="trendsPrice">
                    <i _ngcontent-qxx-c14="" aria-hidden="true" class="fa fa-inr"></i>135.00
                </div>
                <div class="trenpriceText">
                    <span>4 <i _ngcontent-rsf-c14="" aria-hidden="true" class="fa fa-star"></i></span> 135 Ratings
                </div>
            </div>
        </li>
        <li>
            <div class="trenImg">
                <img src="../../../assets/images/dailyprod1.png" width="100%" alt="image">
            </div>
            <div class="trenImagText">
                <h5>Prdient Laborum </h5>
                <div class="trendsPrice">
                    <i _ngcontent-qxx-c14="" aria-hidden="true" class="fa fa-inr"></i>135.00
                </div>
                <div class="trenpriceText">
                    <span>4 <i _ngcontent-rsf-c14="" aria-hidden="true" class="fa fa-star"></i></span> 135 Ratings
                </div>
            </div>
        </li>
    </ul>
    
</div>
<div class="picImg">
    <img src="../../../assets/images/port1.png" width="100%" alt="">
</div>