<div class="footer py-5">
    <div class="container">
        <div class="row foot_cont">
            <div class="col-12">
                <h1>Me & More</h1>
                <p>A step closer of your fashion statement</p>
            </div>
            <div class="col-12 foot_icon">
                <div class="row justify-content-center">
                    <div class="face_icon">
                        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" ><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                    <div class="face_icon">
                        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                    <div class="face_icon">
                        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>