
<div class="admindashboard">
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <h3>Dashboard</h3>
        </div>
        <div class="col-12 col-md-4 mat_cal">
            <mat-form-field class="mat_cal_input" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button class="mat_cal_admin" (click)="picker.open()"><mat-icon>calendar_today</mat-icon></button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 col-md-5">
            <div class="row">
               <app-dashboard-card2 class="col-12" [parentDatas]="adminCard2data"></app-dashboard-card2>
           </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="chart_cont">
                
            </div>
        </div>
    </div>
</div>