<div class="new_items">
    <div class="row daily_deal_cont">
        <div class="col-12 col-md-12 daily_deals">
            <h3><span>New Items</span></h3>
            <span>
              <button mat-raised-button color="accent">View All</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 new_items_largeImage">
            <img [src]="newProduct" width="100%" alt="">
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-6 new_items_smallImg">
                    <img [src]="newProduct" width="100%" alt="" (click)="newProductEvent($event)">
                </div>
                <div class="col-12 col-md-6 new_items_smallImg">
                    <img [src]="newProduct2" width="100%" alt="" (click)="newProductEvent($event)">
                </div>
                <div class="col-12 col-md-6 new_items_smallImg" >
                    <img [src]="newProduct3" width="100%" alt="" (click)="newProductEvent($event)">
                </div>
                <div class="col-12 col-md-6 new_items_smallImg">
                    <img [src]="newProduct4" width="100%" alt="" (click)="newProductEvent($event)">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img [src]="imgUrl" alt="images" width="100%">
        </div>
    </div>
</div>
