@import '../../scss/master.scss';
.adminPanel{
    .adminleftcont{
        background-color: $orangeDark;
        min-height: 100vh;
        .adminList{
            ul{
                margin:0;
                padding: 1em;
                li{
                    list-style: none;
                    padding-bottom: 1em;
                    a{
                        color: $white;
                        font-weight: 400;
                        .fa{
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
    .tabCont{
        margin-top: 1em;
        padding-left: 1em;
    }
    .adminRightcont{
        background-color: $colorGreayBlue;
    }
}
